/* 타이머 관련 스타일 */
.timer {
    font-weight: 900;
    font-size: 1.75em;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.9);  /* 흰색으로 변경 */
    font-family: "Noto Sans KR", sans-serif;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-align: center;  /* 가운데 정렬 추가 */
    width: 100%;  /* 전체 너비 사용 */
}

.period-type {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 800;
    font-size: 2.24em;
    color: rgba(255, 255, 255, 0.9);  /* 흰색으로 변경 */
    margin-bottom: 10px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
    text-align: center;  /* 가운데 정렬 추가 */
    width: 100%;  /* 전체 너비 사용 */
}